{% extends 'base.html' %}

{% load static %}


{% block main %}
<!-- Header Section Begin -->
<header class="header-section">
    <div class="header__info">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__info-left">
                        <ul>
                            <li><a href="#">Your Guestmaps</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->

<!-- Hero Section Begin -->
<section class="newpassword-hero-section">
    <!-- <div class="hero__slider owl-carousel"> -->
    <div class="set-bg" data-setbg="{% static 'img/hero/pwd-bk.png' %}">
        <div class="container">
            <div class="header__logo">
                <div class="row">
                    <a href=""><img class="site-logo" src="{% static 'img/logo.png' %}" alt=""></a>
                </div>
            </div>
            <div class="canvas__open">
                <img src="{% static 'img/menu.png' %}">
            </div>
            <div class="user__login">
                <img src="{% static 'img/user-avatar.png' %}" onclick="doLogin()">
            </div>
        </div>
    </div>
    <!-- </div> -->
</section>
<!-- Hero Section End -->

<section class="create-newpassword-section spad-md">
    <form action="#" id="form" class="form-horizontal" novalidate>
        <div class="form-body">
            <div class="form-group">
                <h1 class="modal-title ta-center">Reset your password</h1>
                <p class="paragraph mt-20">Check your email for a link to reset your password. If it doesn't appear
                    within a few minutes, check your spam folder.</p>
                <a href="#" class="btn green-btn mt-40">Return to Landing Page</a>
            </div>
        </div>
    </form>
</section>
{% endblock main %}

{% block script %}
{% endblock script %}